{% extends 'base.html.twig' %}
{% block title %}{{ 'rsscleaner.title'|trans({}) }}{% endblock %}
{% block body %}
    {% include 'RssCleanerBundle:Default:navigation.html.twig' with {'navigationElement': 'home'} %}
<div class="row">
    <form class="col s12" method="{{ form.vars.method }}" action="{{ form.vars.action }}" name="{{ form.vars.name }}">
      <div class="row">
        <div class="input-field col s6">
            {{ form_row(form.expression) }}
        </div>
        <div class="col s6">
            <input type="checkbox" id="{{ form.active.vars.id }}"  name="{{ form.active.vars.full_name }}"
            {% if form.active.vars.data == 1 %}checked="checked"{% endif %} value="{{ form.active.vars.value }}"/>
            {% do form.active.setRendered %}
            {{ form_label(form.active) }}
        </div>
      </div>
      {{ form_rest(form) }}
    </form>
{% endblock %}
{% block stylesheets %}
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block meta %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
{% endblock %}