{% extends 'base.html.twig' %}
{% block title %}Dev Notes{% endblock %}
{% block body %}
    <div>
        <h4 class="grey center-align">Collected notes for development</h4>
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('show_notes_to_zoid_homepage') }}" class="breadcrumb">Overview</a>
                    <a href="{{ path('show_notes_to_zoid_details', {'noteId': note.noteId}) }}" class="breadcrumb">Detail for: {{ note.title }}</a>
                </div>
            </div>
        </nav>
    </div>
    {% if note is not empty%}
        <div class="row white-text">
            <div class="col s12 m7">
                <div class="card-panel hoverable blue-grey darken-1">
                    <div class="card-content card-title">
                        <span class="card-title grey lighten-2 black-text padding-left-right z-depth-2">
                            {{ note.title }}
                        </span>
                    </div>
                        <p>{{ note.content|raw }}</p>

                </div>
            </div>
        </div>
    {% else %}
        Note not found
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.css">#}
    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/school-book.min.css">#}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/ir-black.min.css">
    <link href="{{ asset('bundles/shownotestozoid/css/notes.css') }}" rel="stylesheet" />
{% endblock %}
{% block meta %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}