{% extends 'base.html.twig' %}
{% block title %}Twitter Timeline{% endblock %}
{% block body %}

    {% include  'ZwitscherBundle:Twitter:navigation.html.twig' with {'navigationElement': navigation} %}

    <div class="stream">
        <span class="headline">My Twitter Timeline</span>
    {% for key,timelineEntry in timeline %}
        <div id="{{ key }}" data-twitter="{{ timelineEntry.twitterId }}" data-from="{{ timelineEntry.from }}" class="tweet">
            <div>
                <div class="tweet_person">
                    <a href="{{ twitterUserUrl(timelineEntry.from) }}" target="_blank">
                        <img src="{{ timelineEntry.fromImage }}" alt="{{ timelineEntry.from }}" class="tweet_person_img"/><br>
                        <span class="small" style="color: black">{{ timelineEntry.from }}</span>
                    </a>
                </div>
            </div>
            <div>
                <div class="tweet_states">
                    {% set pinColor = '' %}
                    {% set pinTitle = 'pin it' %}

                    {% if timelineEntry.isPinned == true %}
                        {% set pinColor = 'pinned' %}
                        {% set pinTitle = 'unpin it' %}
                    {% endif %}
                    {% set deleteTitle = 'delete' %}
                    {% set deleteStyle = '' %}
                    {% if timelineEntry.isDeleted == true%}
                        {% set deleteTitle = 'already delete' %}
                        {% set deleteStyle = 'color:red;' %}
                    {% endif %}
                    <span class="statistics glyphicon glyphicon-share badge" data-toggle="tooltip" data-placement="bottom" title="retweeted count">{{ timelineEntry.retweetCount }}</span>
                    <span class="statistics glyphicon glyphicon-heart-empty badge" data-toggle="tooltip" data-placement="bottom" title="favourite count">{{ timelineEntry.favoriteCount }}</span>
                    <span class="statistics glyphicon glyphicon-pushpin badge {{ pinColor }}" id="{{ key }}Pin" data-toggle="tooltip" data-placement="bottom" title="{{ pinTitle }}" onclick="pinEntry('{{ key }}');"></span>
                    <span class="statistics glyphicon glyphicon-trash badge" id="{{ key }}Delete" data-toggle="tooltip" data-placement="bottom" title="{{ deleteTitle }}" style="{{ deleteStyle }}" {% if timelineEntry.isDeleted != true %}onclick="deleteEntry('{{ key }}', {{ noDeleting }});"{% endif %} ></span>
                    <span class="publishDate">{{ timelineEntry.createdAt|date('d.m.Y H:i') }}</span>
                    <a href="{{ path('filterbyUser', {'userName': timelineEntry.from}) }}" >
                        <span class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="bottom" title="filter by user" > </span>
                    </a>
                </div>
                <div class="tweet_text {% if timelineEntry.isDeleted == true%}strikethrough{% endif %}">
                    {{ timelineEntry.text|raw }}
                </div>
            </div>
        </div>
    {% endfor %}
        <nav>
            <ul class="pager">
                {% if page > 0 %}
                <li class="previous"><a href="{{url~'/'~(page - 1) }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                {% endif %}
                {% if page < ((timeline.count / perPage)|round(1, 'floor')) %}
                <li class="next"><a href="{{url~'/'~(page + 1) }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <nav style="text-align: center">
            <ul class="pagination pagination-sm">
                {% for i in 0..((timeline.count / perPage)|round(0, 'floor')) %}
                    <li {% if i == page %}class="disabled"{% endif %}><a href="{{ url~'/'~i }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {#{{ timeline.count }}#}
        {#<span class="next">Next</span>#}
    </div>
{% endblock %}

{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <link href="{{ asset('bundles/zwitscher/css/timeline.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    {% javascripts '@ZwitscherBundle/Resources/public/js/timeline.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@ZwitscherBundle/Resources/public/js/notify.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}